/* src/components/Navbar.css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #008080;
    padding: 1rem;
  }
  
  nav h1 {
    color:#FFFFFF;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  nav ul li {
    color:white;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  